html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

body {
  overflow-y: scroll;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

header,
footer {
  width: 100%;
  box-sizing: border-box;
}

main {
  height: 100%;
  width: 100%;
  flex: 1;
  box-sizing: border-box;
}

.mu-port {
  order: -2;
  height: 2rem;
}
@media (min-width: 768px) {
  .mu-port {
    order: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.mu-port img {
  width: 3rem;
}
@media (min-width: 768px) {
  .mu-port img {
    margin-right: 1rem;
  }
}

.header {
  background-color: black;
  background-color: rgb(227, 225, 225);
  display: flex;
  padding: 0 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    height: 5rem;
  }
}
.header__nav {
  display: flex;
  height: 100%;
}
.header__nav-list {
  list-style: none;
  display: flex;
  gap: 10%;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.header__nav-list-item {
  width: 8rem;
}
.header__nav-list-item:hover, .header__nav-list-item.active {
  border-bottom: 0.3rem solid green;
}
.header__nav-list-item a {
  display: flex;
  width: 100%;
  height: 100%;
  color: black;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.header__nav-list-item a:hover {
  font-weight: 700;
}
.header__hero-logo {
  display: flex;
  width: 100%;
  height: 100%;
  color: white;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  order: -1;
}
@media (min-width: 768px) {
  .header__hero-logo {
    justify-content: end;
    order: 0;
  }
}

.main {
  background-color: #3792cb;
  background-color: rgb(227, 225, 225);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: -moz-fit-content;
  height: fit-content;
}
.main__recommend-title {
  margin: 1.5rem 0 0;
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .main__recommend-title {
    font-size: 3rem;
  }
}
.main__movies-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
@media (min-width: 768px) {
  .main__movies-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.main__movie-card {
  background-color: white;
  height: 25rem;
  width: 15rem;
  margin: 2rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.main__movie-card:nth-of-type(2) {
  height: 28rem;
  width: 18rem;
}
.main__movie-card-poster {
  margin: 0;
  display: flex;
  place-content: center;
  border-radius: inherit;
  overflow: hidden;
  margin: 0.8rem;
}
.main__movie-card-poster img {
  width: 100%;
  height: 100%;
}
.main__movie-card-title {
  margin: 0 0 1rem;
  text-align: center;
}
.main__movie-card-details {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  width: 100%;
  padding: 0 2rem;
  box-sizing: border-box;
}
.main__movie-card-details li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main__movie-card-details li p {
  margin: 0;
}
.main__movie-card-details li p:first-of-type {
  font-weight: 700;
  color: grey;
  margin-bottom: 0.5rem;
}
.main__movies-expand-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: lightblue;
}
.main__movie-details {
  display: flex;
  justify-content: center;
}
.main__movie-details:nth-of-type(even) {
  background-color: lightcyan;
}
.main__movie-details:nth-of-type(2) div:first-of-type {
  order: 2;
}
.main__movie-details:nth-of-type(2) div:nth-of-type(2) {
  order: 0;
}
.main__movie-details:nth-of-type(2) div:last-of-type {
  order: -1;
}
.main__movie-details div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__movie-details div:first-of-type {
  display: flex;
  flex-direction: column;
}
.main__movie-details div:first-of-type p {
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: 700;
  margin: 0.5rem;
  align-items: center;
}
.main__movie-details div:first-of-type p span {
  margin-left: 1%;
  font-weight: 400;
}
.main__movie-details div:nth-of-type(2) p {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  font-weight: 700;
}
.main__movie-details div:nth-of-type(2) p span {
  margin: 2rem 0;
  font-weight: 400;
}
.main__movie-details div:last-of-type {
  position: relative;
}
.main__movie-details div:last-of-type img {
  height: 15rem;
  margin: 1rem;
}

.footer .logos {
  width: 1.5rem;
}
@media (min-width: 768px) {
  .footer .logos {
    width: 1.8rem;
  }
}
.footer__contact-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  flex-wrap: wrap;
}
.footer li {
  box-sizing: border-box;
  padding: 0.5rem;
}
.footer li h4 {
  margin: 0.5rem 0;
}
.footer li p {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  margin: 0;
}
@media (min-width: 768px) {
  .footer li p {
    flex-direction: row;
    justify-content: center;
  }
}
.footer li p a {
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  gap: 1rem;
  border-radius: 0.25rem;
  width: 50%;
  height: 100%;
}
@media (min-width: 768px) {
  .form {
    width: 20rem;
  }
}
.form input {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  outline: none;
  border: none;
  border-radius: inherit;
  width: 100%;
  min-height: 2.5rem;
  height: 100%;
  flex: 1;
}
@media (min-width: 768px) {
  .form input {
    min-height: 3rem;
    padding: 0.8rem;
    font-size: 1rem;
  }
}
.form input:focus {
  border: 0.14rem solid lightblue;
}
.form input:focus::-moz-placeholder {
  opacity: 0;
}
.form input:focus::placeholder {
  opacity: 0;
}
.form button {
  border: none;
  outline: none;
  border-radius: inherit;
  background-color: lightblue;
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 2.5rem;
  height: 100%;
  padding: 0.5rem;
  flex: 1;
}
@media (min-width: 768px) {
  .form button {
    min-height: 3rem;
    font-size: 1.5rem;
  }
}
.form button:active {
  color: white;
  background-color: lightseagreen;
}/*# sourceMappingURL=recommend.css.map */