@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

body {
  overflow-y: scroll;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

header,
footer {
  width: 100%;
  box-sizing: border-box;
}

main {
  height: 100%;
  width: 100%;
  flex: 1;
  box-sizing: border-box;
}

.mu-port {
  order: -2;
  height: 2rem;

  @include tablet {
    order: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & img {
    width: 3rem;

    @include tablet {
      margin-right: 1rem;
    }
  }
}

.header {
  background-color: black;
  background-color: rgb(227, 225, 225);
  display: flex;
  padding: 0 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    height: 5rem;
  }

  &__nav {
    display: flex;
    height: 100%;

    &-list {
      list-style: none;
      display: flex;
      gap: 10%;
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;

      &-item {
        width: 8rem;

        &:hover,
        &.active {
          border-bottom: 0.3rem solid green;
        }

        & a {
          display: flex;
          width: 100%;
          height: 100%;
          color: black;
          justify-content: center;
          align-items: center;
          text-decoration: none;

          &:hover {
            font-weight: 700;
          }
        }
      }
    }
  }

  &__hero-logo {
    display: flex;
    width: 100%;
    height: 100%;
    color: white;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    order: -1;

    @include tablet {
      justify-content: end;
      order: 0;
    }
  }
}

.main {
  background-color: #3792cb;
  background-color: rgb(227, 225, 225);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: fit-content;

  &__recommend-title {
    margin: 1.5rem 0 0;
    font-size: 1.5rem;

    @include tablet {
      font-size: 3rem;
    }
  }

  &__movies-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;

    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__movie-card {
    background-color: white;
    height: 25rem;
    width: 15rem;
    margin: 2rem;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &:nth-of-type(2) {
      height: 28rem;
      width: 18rem;
    }

    &-poster {
      margin: 0;
      display: flex;
      place-content: center;
      border-radius: inherit;
      overflow: hidden;
      margin: 0.8rem;

      & img {
        width: 100%;
        height: 100%;
      }
    }

    &-title {
      margin: 0 0 1rem;
      text-align: center;
    }

    &-details {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
      margin-bottom: 1.5rem;
      width: 100%;
      padding: 0 2rem;
      box-sizing: border-box;

      & li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & p {
          margin: 0;

          &:first-of-type {
            font-weight: 700;
            color: grey;
            margin-bottom: 0.5rem;
          }
        }
      }
    }
  }

  &__movies-expand-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: lightblue;
  }

  &__movie-details {
    display: flex;
    justify-content: center;

    &:nth-of-type(even) {
      background-color: lightcyan;
    }

    &:nth-of-type(2) {
      & div:first-of-type {
        order: 2;
      }

      & div:nth-of-type(2) {
        order: 0;
      }

      & div:last-of-type {
        order: -1;
      }
    }

    & div {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      &:first-of-type {
        display: flex;
        flex-direction: column;

        & p {
          width: 100%;
          display: flex;
          justify-content: center;
          font-weight: 700;
          margin: 0.5rem;
          align-items: center;

          & span {
            margin-left: 1%;
            font-weight: 400;
          }
        }
      }

      &:nth-of-type(2) {
        & p {
          display: flex;
          flex-direction: column;
          margin-top: 1rem;
          font-weight: 700;

          & span {
            margin: 2rem 0;
            font-weight: 400;
          }
        }
      }

      &:last-of-type {
        position: relative;

        & img {
          height: 15rem;
          margin: 1rem;
        }
      }
    }
  }
}

.footer {
  & .logos {
    width: 2rem;
  }

  &__contact-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    flex-wrap: wrap;
  }

  & li {
    box-sizing: border-box;
    padding: 0.5rem;

    & p {
      display: flex;
      align-items: center;
      gap: 1rem;
      flex-direction: column;

      @include tablet {
        flex-direction: row;
      }
    }
  }
}

.mail-logo {
  width: 2rem;
}

.form {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  gap: 1rem;
  border-radius: 0.25rem;
  width: 50%;
  height: 100%;

  @include tablet {
    width: 20rem;
  }

  & input {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    outline: none;
    border: none;
    border-radius: inherit;
    width: 100%;
    min-height: 2.5rem;
    height: 100%;
    flex: 1;

    @include tablet {
      min-height: 3rem;
      padding: 0.8rem;
      font-size: 1rem;
    }

    &:focus {
      border: 0.14rem solid lightblue;

      &::placeholder {
        opacity: 0;
      }
    }
  }

  & button {
    border: none;
    outline: none;
    border-radius: inherit;
    background-color: lightblue;
    cursor: pointer;
    font-weight: 700;
    font-size: 1rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 2.5rem;
    height: 100%;
    padding: 0.5rem;
    flex: 1;

    @include tablet {
      min-height: 3rem;
      font-size: 1.5rem;
    }

    &:active {
      color: white;
      background-color: lightseagreen;
    }
  }
}
